<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("partials/head") %>
  </head>
  <body>
    <header><%- include ("partials/nav") %></header>
    <main>
      <h3>Name:XXX</h3>
      <h3>Personal token: XXXXX</h3>
      <hr />
      <h4>Spotify收藏歌曲</h4>
      <div>...</div>
      <h4>KKBOX收藏歌曲</h4>
      <div>...</div>
    </main>
    <footer></footer>
  </body>
</html>
