<!DOCTYPE html>
<html>
  <head>
    <%- include ("partials/head") %>
    <link href="../stylesheets/signup.css" rel="stylesheet" />
  </head>
  <body>
    <header><%- include ("partials/nav") %></header>
    <main>
      <form action="/auth/signup" style="border: 1px solid #ccc" method="post">
        <div class="container">
          <h1>Sign Up</h1>
          <p>Please fill in this form to create an account.</p>
          <label for="name"><b>Name</b></label>
          <input
            type="text"
            placeholder="Enter Your Name"
            name="name"
            required
          />
          <label for="email"><b>Email</b></label>
          <input
            type="email"
            placeholder="Enter Your Email"
            name="email"
            required
          />

          <label for="psw"><b>Password</b></label>
          <input
            type="password"
            placeholder="Enter Your Password"
            name="psw"
            required
          />

          <div class="clearfix">
            <button type="submit">Sign Up</button>
          </div>
        </div>
      </form>
    </main>
  </body>
</html>
